.generateImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.generatedImage {
  width: 50vh;
  height: 50vh;
  padding-top: 10px;
}
.titleHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
